@using PrismWear.Web.ViewModels.Products
@model IEnumerable<ProductInListViewModel>

@if (!Model.Any())
{
    <p class="text-center mt-3">No products found.</p>
}
else
{
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 align-items-stretch" id="product-container">
            @foreach (var product in Model)
            {
                <div class="col d-flex">
                    <div class="card h-100 w-100 shadow-sm d-flex flex-column text-center">
                        <img src="@($"/images/products/{product.Images.FirstOrDefault()?.Id}.{product.Images.FirstOrDefault()?.Extension}")"
                             class="card-img-top"
                             alt="@product.Name" />

                        <div class="card-body d-flex flex-column">
                            <h6 class="text-muted mb-1">@product.CategoryName</h6>
                            <h5 class="fw-bold">@product.Name</h5>
                            <p class="fw-bold fs-5 mb-3">
                                @product.Price.ToString("F2") лв.
                            </p>
                            <div class="mt-auto">
                                <a asp-action="ById"
                                   asp-controller="Products"
                                   asp-route-id="@product.Id"
                                   class="btn btn-outline-secondary w-100 mb-2">
                                    Виж детайли
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

