@using PrismWear.Web.ViewModels.Products
@model ProductListViewModel

@{
    this.ViewData["Title"] = "All products";
}

<h1>@this.ViewData["Title"]</h1>

<label for="categoryFilter">Filter by Category:</label>
<select id="categoryFilter" class="form-control">
    <option value="">All Categories</option>
    @foreach (var category in Model.Products.Select(p => new { p.CategoryId, p.CategoryName }).Distinct())
    {
        <option value="@category.CategoryId">@category.CategoryName</option>
    }
</select>

<br />

<div id="product-container">
    @await Html.PartialAsync("_ProductsPartial", Model.Products)
</div>

<div id="loading" style="display: none;">
    <p>Loading...</p>
</div>

<hr />
<nav aria-label="Product Pagination">
    <ul class="pagination">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" asp-action="All" asp-route-pageNumber="@Model.PreviousPageNumber">Previous</a>
        </li>

        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" asp-action="All" asp-route-pageNumber="@i">@i</a>
            </li>
        }

        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link" asp-action="All" asp-route-pageNumber="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#categoryFilter').change(function () {
                var categoryId = $(this).val();

                $('#loading').show();

                $.ajax({
                    url: '/Products/Filter',
                    type: 'GET',
                    data: { categoryId: categoryId },
                    success: function (data) {
                        $('#product-container').html(data);
                    },
                    error: function () {
                        alert('Error loading products.');
                    },
                    complete: function () {
                        $('#loading').hide();
                    }
                });
            });
        });
    </script>
}
