@using PrismWear.Web.ViewModels.Products
@model ProductListViewModel

@{
    this.ViewData["Title"] = "All products";
}

<h1>@this.ViewData["Title"]</h1>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="media col-md-4">
            <img src="@($"/images/products/{product.Images.FirstOrDefault()?.Id}.{product.Images.FirstOrDefault()?.Extension}")"
                 class="mr-3" width="100" alt="@product.Name" />
            <div class="media-body">
                <h5 class="mt-0">
                    <a asp-action="ById" asp-route-id="@product.Id">@product.Name</a>
                </h5>
                <p>@product.CategoryName</p>
            </div>
        </div>
    }
</div>

<hr />

<nav aria-label="Product Pagination">
    <ul class="pagination">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" asp-action="All" asp-route-pageNumber="@Model.PreviousPageNumber">Previous</a>
        </li>

        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" asp-action="All" asp-route-pageNumber="@i">@i</a>
            </li>
        }

        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link" asp-action="All" asp-route-pageNumber="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>
